/** testimoniales**/

@media (min-width:1024px) {
    .testimoniales {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        margin-bottom: 2rem;
    }
}

.testimoniales span {
    font-size: 1.5rem;
    font-weight: 700;
    font-style: oblique;
    color: aqua;
}

.testimoniales_content img {
    border-radius: 2rem;
    width: 85%;
}

.testimoniales_content {
    text-align: center;
}