 /**Contacto.html**/
 
 .t-contacto {
     padding: 3rem;
 }
 
 .campo {
     padding: 2rem;
     font-size: 2rem;
 }
 
 .campo input {
     width: 100%;
     height: 3.5rem;
     border-radius: 1rem;
 }
 
 .campo select {
     width: 100%;
     height: 3.5rem;
     border-radius: 1rem;
 }
 
 .campo textarea {
     width: 80%;
     height: 10rem;
     border-radius: 1rem;
 }
 
 .campo h4 {
     font-size: 3rem;
 }
 
 .campo2 {
     padding: 2rem;
 }
 
 .campo1 {
     padding: 2rem;
 }