@media (min-width:1024px) {
    .testimoniales {
        display: flex;
        justify-content: space-around;
        margin-top: 4rem;
    }
}

.img-testimoniales,
.img_integrantes {
    position: relative;
    overflow: hidden;
}

.img-testimoniales img,
.img_integrantes img {
    max-width: 100%;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s ease-in-out;
}

.img-testimoniales img:hover,
.img_integrantes img:hover {
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
}

.img-testimoniales p,
.img_integrantes p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    color: rgb(111, 0, 255);
    text-transform: uppercase;
    -webkit-transition: all .5s ease-in-out;
    font-weight: 700;
}

@media (min-width:768px) {
    .img-testimoniales img {
        width: 100%;
    }
}

.img-testimoniales:hover p,
.img_integrantes:hover p {
    bottom: -80px;
    opacity: 0;
}

.img-testimoniales {
    flex-basis: 35%;
    margin-bottom: 2rem;
}

.text-testimoniales {
    flex-basis: 65%;
}

@media (min-width:1024px) {
    .text-testimoniales {
        text-align: left;
        margin-left: 2rem;
    }
}

.text-testimoniales h4,
p {
    margin-bottom: 3rem;
}

.text-testimoniales p i,
blockquote,
.text_integrantes ul li i {
    color: rgb(111, 0, 255);
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 2rem;
}