/** footer **/

.site-footer {
    background-color: rgb(49, 48, 48);
    padding: 1rem;
    text-align: center;
}

@media (min-width:1024px) {
    site-footer {}
}

.site-footer a i {
    text-align: center;
    font-size: 3rem;
    color: white;
    padding-top: 1rem;
}

.site-footer a i:hover {
    transform: scale(1.5);
    transition: .4s ease-in-out;
    color: #4776E6;
}