     /** Header**/
     
     .site-header {
         background-image: url(../img/fondo2.jpg);
         background-position: center center;
         background-size: cover;
         height: 100vh;
         width: 100%;
         color: white;
     }
     
     .site-header h1 {
         font-size: 9rem;
         font-family: 'Nerko One', cursive;
         font-weight: 700;
         text-align: center;
         cursor: pointer;
         max-width: 100%;
         margin-top: 10rem;
         padding-top: 2rem;
     }
     
     .site-header h1 span {
         font-size: 5.5rem;
     }
     
     @media (min-width:768px) {
         .site-header h1 span {
             font-size: 8.5rem;
         }
     }
     
     .site-header p {
         text-align: center;
         font-size: 3rem;
     }