     /** Header**/
     
     .header-pages {
         height: 13vh;
     }
     
     @media (min-width:768px) {
         .header-pages {
             padding-bottom: none;
         }
     }
     
     @media (min-width:1024px) {
         .header-pages {
             display: flex;
             justify-content: space-between;
             padding: 2rem;
         }
         .pages-nav {
             padding-top: 1.3rem;
         }
         .pages-tittle h1 {
             margin-left: 5rem;
             padding-bottom: 1rem;
         }
     }
     
     .pages-tittle h1 {
         color: black;
         font-family: 'Nerko One', cursive;
         font-size: 5rem;
         text-align: center;
         font-weight: 700;
     }
     
     .site-header {
         background-image: url(../img/fondo2.jpg);
         background-position: center center;
         background-size: cover;
         height: 100vh;
         width: 100%;
         color: white;
     }
     
     .site-header h1 {
         font-size: 9rem;
         font-family: 'Nerko One', cursive;
         font-weight: 700;
         text-align: center;
         cursor: pointer;
         max-width: 100%;
         margin-top: 10rem;
         padding-top: 2rem;
     }
     
     .site-header h1 span {
         font-size: 5.5rem;
     }
     
     @media (min-width:768px) {
         .site-header h1 span {
             font-size: 8.5rem;
         }
     }
     
     .site-header p {
         text-align: center;
         font-size: 3rem;
     }